[Unit]
Description=Telegram Transfer Bot (Low Memory High-Performance)
After=network.target telegram-bot-api.service
Wants=telegram-bot-api.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/tg-transfer-bot
EnvironmentFile=/opt/tg-transfer-bot/.env
ExecStart=/opt/tg-transfer-bot/tg-transfer-bot

Restart=always
RestartSec=5s

Nice=10

[Install]
WantedBy=multi-user.target
